<html>
  <head>
    <title>Bookstore</title>
    <link rel="stylesheet" href="home.component.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- main -->
    <div class="container-fluid">
      <!-- banner -->
      <div class="row banner" color="primary">
        <div class="row col-md inner-banner m-4">
          <div class="col-md-6 content bg-circle align-self-center text-center">
            <h1 class="text-center">Spring Sale!</h1>
            <h5>Enjoy Amazing summer 2020 sale</h5>
            <p class="dummy-desc">
              Welcome to our Spring Sale on books! We’re offering great
              discounts on a variety of books from genres like fiction,
              non-fiction, romance, fantasy, mystery, science-fiction and more.
              Get up to 50% off on select books, plus get free shipping on
              orders over $50. Don’t miss out on this chance to stock up on your
              favorite titles at great prices. Hurry and shop now, our sale
              won’t last forever!
            </p>
            <div class="button">
              <button type="button" class="btn">
                Shop Now <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="col-md-6 image alig-end">
            <div class=""></div>
          </div>
        </div>
      </div>
    </div>

    <!-- About -->
    <div class="container text-center about my-5">
      <div class="row">
        <div class="col-lg col-md col-sm col-xs">
          <h2 class="custom-title my-5">What We Offer</h2>
          <p class="dummy-desc">
            We offer a wide selection of books for readers of all ages, from
            classic novels to contemporary bestsellers. Our selection also
            includes books from a variety of genres, including fiction,
            non-fiction, children's, fantasy, mystery, science-fiction, and
            more. In addition to books, we also offer a selection of magazines
            and audiobooks. We also offer helpful customer service and
            competitive prices to ensure that you get the best value for your
            money.
          </p>
        </div>
      </div>
    </div>

    <!-- collection -->
    <div class="container text-center collections my-5">
      <h2 class="custom-title">Available Now!</h2>
      <div class="row my-5">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="https://stackblitz.com/storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFYvQXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--cd5fba8c834918c1fb964191714f6c3c156bf4f4/pic1.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">BOOK 1</h5>
              <p class="card-text dummy-desc">Title: To Kill a Mockingbird</p>
              <p class="card-text dummy-desc">Author: Harper Lee</p>
              <p class="card-text dummy-desc">
                Publisher: J. B. Lippincott & Co.
              </p>
              <p class="card-text dummy-desc">
                Category: Southern Gothic fiction
              </p>
              <p class="card-text dummy-desc">Price: $21.03</p>
              <p class="card-text dummy-desc">
                Description: To Kill a Mockingbird is both a young girls
                coming-of-age story and a darker drama about the roots and
                consequences of racism and prejudice, probing how good and evil
                can coexist within a single community or individual.
              </p>
              <a href="#" class="btn"
                >Add to Cart
                <i class="fa fa-shopping-bag" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="https://stackblitz.com/files/github-eegfa5-rr3sgy/github/jzicc/2135-bookstore-sapb-jzc/main/src/app/pic2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">BOOK 2</h5>
              <p class="card-text dummy-desc">Title: 1984</p>
              <p class="card-text dummy-desc">Author: George Orwell</p>
              <p class="card-text dummy-desc">Publisher: Secker & Warburg</p>
              <p class="card-text dummy-desc">
                Category: Dystopian Social Science Fiction Novel
              </p>
              <p class="card-text dummy-desc">Price: $7.48</p>
              <p class="card-text dummy-desc">
                Description: 1984 is a dystopian novella by George Orwell
                published in 1949, which follows the life of Winston Smith, a
                low ranking member of "The Party", who is frustrated by the
                omnipresent eyes of the party, and its ominous ruler Big
                Brother.
              </p>
              <a href="#" class="btn"
                >Add to Cart
                <i class="fa fa-shopping-bag" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="https://stackblitz.com/files/github-eegfa5-rr3sgy/github/jzicc/2135-bookstore-sapb-jzc/main/src/app/pic3.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">BOOK 3</h5>
              <p class="card-text dummy-desc">
                Title: Harry Potter and the Sorcerer’s Stone
              </p>
              <p class="card-text dummy-desc">Author: J.K. Rowling</p>
              <p class="card-text dummy-desc">Publisher: Bloomsbury</p>
              <p class="card-text dummy-desc">Category: Fantasy Novel</p>
              <p class="card-text dummy-desc">Price: $14.36</p>
              <p class="card-text dummy-desc">
                Description: It is a story about Harry Potter, an orphan brought
                up by his aunt and uncle because his parents were killed when he
                was a baby. Harry is unloved by his uncle and aunt but
                everything changes when he is invited to join Hogwarts School of
                Witchcraft and Wizardry and he finds out he"s a wizard.
              </p>
              <a href="#" class="btn"
                >Add to Cart
                <i class="fa fa-shopping-bag" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="https://stackblitz.com/files/github-eegfa5-rr3sgy/github/jzicc/2135-bookstore-sapb-jzc/main/src/app/pic4.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">BOOK 4</h5>
              <p class="card-text dummy-desc">Title: The Lord of the Rings</p>
              <p class="card-text dummy-desc">Author: J.R.R. Tolkien</p>
              <p class="card-text dummy-desc">Publisher: Allen & Unwin</p>
              <p class="card-text dummy-desc">
                Category: Epic High-Fantasy Novel
              </p>
              <p class="card-text dummy-desc">Price: $18.29</p>
              <p class="card-text dummy-desc">
                Description: The Lord of the Rings is the saga of a group of
                sometimes reluctant heroes who set forth to save their world
                from consummate evil. Its many worlds and creatures were drawn
                from Tolkien"s extensive knowledge of philology and folklore.
              </p>
              <a href="#" class="btn"
                >Add to Cart
                <i class="fa fa-shopping-bag" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
